@import '/variables.scss';

html,
body,
#root,
#app,
#map {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.rodal {
  z-index: 1000;
}

.rodal-dialog {
  background: $mainDark;
}

.fa-exclamation-circle {
  padding: 0 5px !important;
}

@media screen and (max-width: 768px) {
  .rodal-dialog {
    width: 400px !important;
  }
}

@media screen and (max-width: 500px) {
  .rodal-dialog {
    width: 300px !important;
  }
}

#map .leaflet-control-container .leaflet-bottom.leaflet-right .leaflet-control-zoom {
  border: none;
  bottom: 60px;
}

#map .leaflet-control-container .leaflet-bottom.leaflet-right .leaflet-control-scale {
  margin-bottom: 0;
  bottom: 60px;
}

#map .leaflet-control-container .leaflet-bottom.leaflet-right .leaflet-control-map-coordinates {
  display: block;
  margin-bottom: 0;
  clear: unset;
  font-size: 10px;
  background: #101119;
  color: #eee;
  padding: 1px;
  min-width: 160px;
  text-align: center;
  bottom: 60px;
}
